.image {
    min-width: 100vw;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
}

app-date-picker {
    justify-content: center;
}